---
import Base from "../layouts/Base.astro";
import NoScriptNotice from "../components/NoScriptNotice.astro";
import Hero from "../components/Hero.astro";
import Specimen from "../components/Specimen.astro";
import InstallSnippet from "../components/InstallSnippet.astro";
import Features from "../components/Features.astro";
import Lifecycle from "../components/Lifecycle.astro";
import FrameworkSupport from "../components/FrameworkSupport.astro";
import PublicWall from "../components/PublicWall.astro";
import AntiPitch from "../components/AntiPitch.astro";
import Footer from "../components/Footer.astro";
import BugFabEmbed from "../components/BugFabEmbed.astro";
---

<Base>
  <NoScriptNotice />
  <main>
    <Hero />
    <Specimen />
    <InstallSnippet />
    <Features />
    <Lifecycle />
    <FrameworkSupport />
    <PublicWall />
    <AntiPitch />
  </main>
  <Footer />
  <BugFabEmbed />
</Base>
